/*CSS DOCUMENT*/

html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */

:root {
  /*stored colors as variables*/
  --orange: rgb(239, 142, 52);
  --white: rgb(250, 250, 250);
  --pale-orange: rgb(249, 222, 191);
}

header {
  background-color: var(--orange);
}

h1 {
  font-family: Sutro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
  padding: 4rem 1rem 0em;
  color: var(--white);
}

h2 {
  font-family: Sutro, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2em;
  padding: 0.5em 1rem 1em;
  color: var(--pale-orange);
}

h3 {
  text-transform: uppercase;
  color: var(--orange);
  font-family: Sutro, serif;
  font-weight: 500;
  font-style: bold;
  padding: 2rem 0 0;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  border-top: 0.15em solid var(--orange);
  margin: 2rem 2rem 0;
}

ul {
  margin: 2rem 2rem 0em;
  padding: 0;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}

li {
  margin: 1em 0.5em;
  font-size: 1.2em;
}

ol {
  margin: 2rem 2rem 0em;
  padding: 0;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}

footer {
  background-color: var(--orange);
  color: var(--white);
  padding: 1.5em;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}

figure {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5em;
}

img {
  grid-column: 1/2;
  width: 100%;
  column-gap: 2em;
  /* max-width: 80em; */
}

/* img { */
/* width: 100%; Please leave this line. */
/* display: block; */
/* } */

figcaption {
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: italic;
  padding: 3em;
  font-size: 1.3em;
}
